<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="PAYPALLOGFILE" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="paypal.cf.log" />
		<param name="Append" value="true" /> 
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{dd MMM yyyy HH:mm:ss} %-5p [%C{1}] %m%n"/>
		</layout> 
	</appender>
	<category name="com.paypal.sdk">
		<priority value="all"/>
		<appender-ref ref="PAYPALLOGFILE" />
	</category>
</log4j:configuration> 
